<div class=container>
  <h1 class="search-title">
    Vehicles Searcher
  </h1>
  <div class="search-box">
    <%= form_tag(results_path, method: :get) do |f| %>
      <div class="row">
        <%= text_field_tag(:q, params[:q], { class: "search-input"}) %>
        <button class="btn" type="submit">Search</button>
      </div>
      <div class="filters">
        <%= vehicle_type_filters(params[:vehicle_type].presence || 'all') %>
      </div>
    <% end %>
  </div>
</div>
