<div class="result r-hover">
  <div class="row">
    <div class="big">
      <%= result.slug.titleize %>
    </div>
    <div class="small">
      <img src=<%= result_image(result.searchable_type) %> alt="example-image" style="width: 100%;">
    </div>
  </div>
  <%= turbo_frame_tag result.uuid do %>
    <%= link_to 'More...', result_path(result.searchable_id, q: params[:q], klass: result.searchable_type) %>
  <% end %>
</div>

